.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/appearance.json
.obsidian/hotkeys.json
.obsidian/plugins/obsidian-git/.git
.trash/
*.log
🔗 [Schema Prisma](../sigmat-backend/prisma/schema.prisma)
🔗 [Auth Guard Angular](../sigmat-frontend/src/app/core/auth/guards/auth.guard.ts)
🔗 [Postman Collection](./06_API_REST/SIGMAT_API.postman_collection.json)